In [2]:
import pandas as pd 
import numpy as np

In [3]:
true_dataset=pd.read_csv(r"C:\Users\SSN\Downloads\True.csv")

In [4]:
fake_dataset=pd.read_csv(r"C:\Users\SSN\Downloads\fakee.csv")

In [5]:
fake_dataset.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [6]:
true_dataset.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [7]:
true_dataset['label']=1

In [8]:
fake_dataset['label']=0

In [9]:
news=pd.concat([fake_dataset,true_dataset],axis=0)

In [10]:
news.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [11]:
news.tail()

,title,text,subject,date,label
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [12]:
news.isnull().sum()

title      0
text       0
subject    1
date       1
label      0
dtype: int64

In [13]:
news=news.drop(['title','subject','date'],axis=1)

In [14]:
news.head()

                                                text  label
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

In [15]:
news=news.sample(frac=1) # reshuffling the data
news.head()

                                                    text  label
6242   Ben Carson was (very) briefly the Republican f...      0
10129  WASHINGTON (Reuters) - The prospect of Japan a...      1
5576   It s no secret that Trump s campaign isn t exa...      0
1673   If Hillary Clinton were in the White House and...      0
16676  OTTAWA (Reuters) - Canada s ruling Liberals wo...      1

In [16]:
news.reset_index(inplace=True)

In [17]:
news.head()

   index                                               text  label
0   6242  Ben Carson was (very) briefly the Republican f...      0
1  10129  WASHINGTON (Reuters) - The prospect of Japan a...      1
2   5576  It s no secret that Trump s campaign isn t exa...      0
3   1673  If Hillary Clinton were in the White House and...      0
4  16676  OTTAWA (Reuters) - Canada s ruling Liberals wo...      1

In [18]:
news.drop(['index'],axis=1,inplace=True)

In [19]:
news.head()

                                                text  label
0  Ben Carson was (very) briefly the Republican f...      0
1  WASHINGTON (Reuters) - The prospect of Japan a...      1
2  It s no secret that Trump s campaign isn t exa...      0
3  If Hillary Clinton were in the White House and...      0
4  OTTAWA (Reuters) - Canada s ruling Liberals wo...      1

In [20]:
import re
import string

In [21]:

def wordopt(text):
    text = text.lower()  # Convert to lowercase
    text = re.sub(r'https?://\S+|www\.\S+', '', text)  # Remove URLs
    text = re.sub(r'<.*?>', '', text)  # Remove HTML tags
    text = re.sub(r'\d+', '', text)  # Remove digits
    text = text.translate(str.maketrans('', '', string.punctuation))  # Remove punctuation
    text = text.replace('\n', ' ')  # Remove newline characters
    
    
    return text

In [22]:
news['text'] = news['text'].apply(wordopt)

In [23]:
news['text']

0        ben carson was very briefly the republican fro...
1        washington reuters  the prospect of japan and ...
2        it s no secret that trump s campaign isn t exa...
3        if hillary clinton were in the white house and...
4        ottawa reuters  canada s ruling liberals won a...
                               ...
31144    doha reuters  qatar will buy fighter jets and ...
31145    mexico city reuters  mexico must be ready to r...
31146    kabul reuters  us president donald trump s pla...
31147    washington reuters  the pentagon said on monda...
31148    istanbul reuters  an explosion in a storage ta...
Name: text, Length: 31149, dtype: object

In [24]:
x=news['text']
y=news['label']
y

0        0
1        1
2        0
3        0
4        1
        ..
31144    1
31145    1
31146    1
31147    1
31148    1
Name: label, Length: 31149, dtype: int64

In [25]:
x

0        ben carson was very briefly the republican fro...
1        washington reuters  the prospect of japan and ...
2        it s no secret that trump s campaign isn t exa...
3        if hillary clinton were in the white house and...
4        ottawa reuters  canada s ruling liberals won a...
                               ...
31144    doha reuters  qatar will buy fighter jets and ...
31145    mexico city reuters  mexico must be ready to r...
31146    kabul reuters  us president donald trump s pla...
31147    washington reuters  the pentagon said on monda...
31148    istanbul reuters  an explosion in a storage ta...
Name: text, Length: 31149, dtype: object

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.3)

In [28]:
x_train.shape

(21804,)

In [29]:
x_test.shape

(9345,)

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [31]:
Tfidf=TfidfVectorizer()
xv_train=Tfidf.fit_transform(x_train)
xv_test=Tfidf.transform(x_test)

In [32]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(xv_train,y_train)
pred_lr = lr.predict(xv_test)
lr.score(xv_test,y_test)

0.9890850722311396

In [33]:
from sklearn.metrics import classification_report
print(classification_report(y_test,pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.97      0.98      2932
           1       0.99      1.00      0.99      6413

    accuracy                           0.99      9345
   macro avg       0.99      0.99      0.99      9345
weighted avg       0.99      0.99      0.99      9345

In [34]:
from sklearn.tree import DecisionTreeClassifier 
dtc=DecisionTreeClassifier()
dtc.fit(xv_train,y_train)
pred_dtc=dtc.predict(xv_test)
dtc.score(xv_test,y_test)

0.9972177635098983

In [35]:
print(classification_report(y_test,pred_dtc))

              precision    recall  f1-score   support

           0       0.99      1.00      1.00      2932
           1       1.00      1.00      1.00      6413

    accuracy                           1.00      9345
   macro avg       1.00      1.00      1.00      9345
weighted avg       1.00      1.00      1.00      9345

In [43]:
from  sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier()
rfc.fit(xv_train,y_train)
pred_rfc=rfc.predict(xv_test)
rfc.score(xv_test,y_test)

0.9852327447833066

In [37]:
print(classification_report(y_test,pred_rfc))

              precision    recall  f1-score   support

           0       0.99      0.96      0.98      2932
           1       0.98      1.00      0.99      6413

    accuracy                           0.99      9345
   macro avg       0.99      0.98      0.98      9345
weighted avg       0.99      0.99      0.99      9345

In [38]:
from  sklearn.ensemble import GradientBoostingClassifier
gbc=GradientBoostingClassifier()
gbc.fit(xv_train,y_train)
pred_gbc=gbc.predict(xv_test)
gbc.score(xv_test,y_test)

0.9974317817014446

In [39]:
print(classification_report(y_test,pred_gbc))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      2932
           1       1.00      1.00      1.00      6413

    accuracy                           1.00      9345
   macro avg       1.00      1.00      1.00      9345
weighted avg       1.00      1.00      1.00      9345

In [40]:
def output_label(n):
    if n==0:
        return "It is a Fake News"
    if n==1:
        return "It is a genuine News"

In [41]:
def manual_testing(news):
    testing_news = {"text": [news]}  # Corrected syntax for defining dictionary
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt)
    new_x_test = new_def_test["text"]
    new_xv_test = Tfidf.transform(new_x_test)  # Ensure 'Tfidf' is properly defined
    pred_lr = lr.predict(new_xv_test)
    pred_gbc = gbc.predict(new_xv_test)
    pred_rfc = rfc.predict(new_xv_test)
    
    return "\n\nLR Prediction: {} \nGBC Prediction: {} \nRFC Prediction: {}".format(
        output_label(pred_lr[0]), output_label(pred_gbc[0]), output_label(pred_rfc[0])
    )

In [42]:

news_article = str(input("Enter news: "))
print(manual_testing(news_article))  # Added print to display output

Enter news:  Bihar Muslim body announces boycott of Nitish Kumar's Iftaar over Waqf Bill, Congress comes to his defence

LR Prediction: It is a genuine News
GBC Prediction: It is a Fake News
RFC Prediction: It is a genuine News